*{
    background-color: aliceblue;
    color: black;
    font-family: 'Calibri' 
}

h1{
    color:black;
    background-color: whitesmoke
}

h2{
    background-color: darkgoldenrod;
    color: black;

}

